{% extends 'base.html' %}

{% block title %}	
Q&A
{% endblock %}

{% block content %}
    <main>
        <div class="layout-container">
            <h1 class="qa-h1">Q&A</h1>
            <ol>
                <li class="accordion-i">
                    <div class="accordion-above">
                        <p>Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur?</p>
                        <img src="{{url_for('static', filename='img/arrow-list.png')}}" alt="">
                    </div>
                    <div class="accordion-t qa-hide"><p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p></div>
                </li>
                <li class="accordion-i">
                    <div class="accordion-above">
                        <p>Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur?</p>
                        <img src="{{url_for('static', filename='img/arrow-list.png')}}" alt="">
                    </div>
                    <div class="accordion-t qa-hide"><p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p></div>
                </li>
                <li class="accordion-i">
                    <div class="accordion-above">
                        <p>Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur?</p>
                        <img src="{{url_for('static', filename='img/arrow-list.png')}}" alt="">
                    </div>
                    <div class="accordion-t qa-hide"><p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p></div>
                </li>
                <li class="accordion-i">
                    <div class="accordion-above">
                        <p>Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur?</p>
                        <img src="{{url_for('static', filename='img/arrow-list.png')}}" alt="">
                    </div>
                    <div class="accordion-t qa-hide"><p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p></div>
                </li>
            </ol>
        </div>
    </main>
{% endblock %}

{% block script %}<script src="{{url_for('static', filename='JS/script.js')}}"></script>{% endblock %} 