:root {
    box-sizing: border-box;
    color: #6290C8;
    font-family: Inter, sans-serif;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    margin: 0px;
    font-size: 20px;
}

.layout-container {
    max-width: 1357px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

ul, li {
    margin: 0px;
    padding: 0px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 42px;
}

nav > a > img {
    fill: rgb(17, 144, 255);
}

header > .layout-container > nav > ul {
    display: flex;
    gap: 65px;
    align-items: center;  
}

nav ul li a {
    position: relative;
    transition: color 0.3s ease;
    color: #6290C8;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #6290C8;
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a:hover {
    color: #6290C8;
}

h1 {
    color: #376996;
    font-weight: bold;
    max-width: 555px;
}

.welc-block {
    margin-top: 152px;
    display: flex;
}

.welc-block > .lf-wel > p {
    max-width: 525px;
}

.wel-links {
    display: flex;
    align-items: center;
    gap: 33px;
}

.foot-links {
    display: flex;
    align-items: center;
    gap: 14px;
}
.wel-links a img, .foot-links > a > img {
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.wel-links a img:hover, .foot-links > a > img:hover {
    transform: scale(1.03);
}


.rg-wel {
    margin-left: auto;
    margin-right: 0;
}

.our-adv {
    background-color: #376996;
    margin-top: 111px;
}
.our-adv > h2 {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
    padding-top: 33px;
    text-align: center;
}

.num-adv {
    font-size: 35px;
    font-weight: bold;
    color: #376996;
    width: 59px;
    height: 59px;
    text-align: center;
    padding-top: 8px;
    background-color: #FFFFFF;
    border-radius: 57px;
    display:inline-block;
    margin: 0;
}

.adv > h3 {
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
}

.adv-desc {
    font-size: 20px;
    color: #FFFFFF;
    line-height: 1.75;
}

.adv-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 90px;
    padding-bottom: 80px;
}

.rg-bl > h2{
    color: #376996;
}
.rg-bl > p{
    line-height: 1.4;
    font-size: 20px;
    max-width: 807px;
}

.framework {
    margin-top: 55px;
    display: flex;
    align-items: center;
}

.lf-bl {
    margin-left: auto;
}

.model {
    display: flex;
    align-items: center;
    margin-top: 94px;
}

.ready-bl {
    background-color: #376996;
    margin-top: 128px;
}

.ready-bl > h1 {
    color: #FFFFFF;
    text-align: center;
    max-width: 728px;
    margin: 0 auto;
    padding-top: 54px;
}

.str {
    padding: 11px 86px;
    color: #376996;
    font-size: 30px;
    background-color: #FFFFFF;
    border-radius: 87px;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    transform: translateY(0);
    border: 2px solid #FFFFFF;
}

.str:hover {
    background-color: #376996;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

.rec {
    color: #FFFFFF;
    font-size: 30px;
    padding: 11px 85px;
    border-radius: 87px;
    border: 2px solid #FFFFFF;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    transform: translateY(0);
}

.rec:hover {
    background-color: #FFFFFF;
    color: #376996;
}

.btns {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    margin-top: 56px;
    padding-bottom: 72px;
}

.top-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 67px;
}
.top-footer > ul > li > a {
    color: #6290C8;
}

.top-footer > ul {
    display: flex;
    gap:55px;
}

.bottom-footer > ul li:not(:first-child) {
    text-decoration: underline;
}

.bottom-footer > ul {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.bottom-footer {
    margin-top: 51px;
    padding-bottom: 69px;
}

.bottom-footer > ul > li > a {
    color: #6290C8;
    display: inline-block;
    position: relative;
}

.bottom-footer > ul > li > a:hover {
    color: #6290C8;
    text-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.frame-h1 {
    margin: 0 auto;
    max-width: 415px;
    margin-top: 103px;
    padding-bottom: 83px;
}

.h-lab {
    font-weight: bold;
    color: #376996;
    margin: 0;
}

.labs > .lab > .rg-bl > .h-lab {
    font-size: 25px;
}

.lab {
    display: flex;
    align-items: center;
}

.lab > .rg-bl > a {
    color: #FFFFFF;
    padding: 14px 40px;
    border-radius: 87px;
    background-color: #376996;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    transform: translateY(0);
    border: 2px solid #376996;

}

.lab > .rg-bl > a:hover {
    background-color: #fff;
    color: #376996;
    border: 2px solid #376996;
}


.foot-links > a > img {
    width: 37px;
    height: 36px;
}


.lab-up {
    margin-top: 184px;
}

.p-lab {
    margin-bottom: 40px;
    max-width: 635px;
    width: 635px;
}

.lab-last-bl {
    margin-bottom: 291px;
}

.bottom-footer > ul > li > a:hover{
    color: #376996;
}

.bottom-footer > ul > li > a{
    transition: color 0.3s ease;
}


.top-footer  > ul > li > a {
    color: #6290C8;
    transition: color 0.3s ease;
    display: inline-block;
    position: relative;
}

.top-footer  > ul > li > a:hover {
    color: #376996;
    text-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.bottom-footer > ul li:not(:first-child):hover {
    text-decoration: underline;
    text-decoration-color: #376996;
}

.accordion-i {
    border: 2px solid #376996;
    padding: 19px 0 19px 68px;
    border-radius: 20px;
    max-width: 983px;
    margin: 33px auto;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.accordion-i:hover {
    transform: translateY(-2px);
    /* box-shadow: 0 4px 8px rgba(55, 105, 150, 0.2); */
}

.accordion-above {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}

.accordion-above p {
    margin: 0;
    font-size: 20px;
    position: relative;
    display: inline-block;
}

.qa-main {
    margin-bottom: 195px;
}

ol {
    counter-reset: my-counter;
    padding-left: 20px;
}

ol > li {
    counter-increment: my-counter;
    list-style: none; 
    position: relative;
    padding-left: 20px; 
    
}

ol > li::before {
    content: counter(my-counter) ". ";
    position: absolute;
    left: 29px;
    margin-top: 8px;
}

.accordion-above:hover p::after {
    transform: scaleX(1);
}

.accordion-above > img {
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 19px;
}

.accordion-t {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    cursor: pointer; 
}

.accordion-i.active .accordion-t {
    max-height: 500px; 
    padding-top: 10px;
    max-width: 800px;
    opacity: 1;
}

.accordion-i.active .accordion-above img {
    transform: rotate(180deg);
}

.qa-h1 {
    margin: 0 auto;
    max-width: 100px;
    margin-top: 103px;
}

.qa-foot {
    margin-top: 100px;
}


.button-wrapper {
    text-align: center;
}

.btn-switch {
    padding: 11px 86px;
    color: #376996;
    font-size: 30px;
    background-color: #FFFFFF;
    border-radius: 87px;
    border: 2px solid #376996;
    transition: color 0.3s ease;
    cursor: pointer;
}

.btn-switch:hover {
    background-color: #376996;
    color: #FFFFFF;
}



/* promt */

.lab-pe {
    margin-bottom: 154px;
}

.lab-pe > .layout-container > h1 {
    text-align: center;
    margin: 0 auto;
    margin-top: 85px;
}

.lab-rg > p {
    font-size: 18px;
    line-height: 1.5;
}

.lab-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 90px;
    margin-top: 48px;
}

.editor-wrapper > button {
    color: #376996;
    padding: 14px 40px;
    border-radius: 87px;
    background-color: #fff;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    transform: translateY(0);
    border: 2px solid #376996;
    margin-top: 5px;
}

.editor-wrapper > button:hover {
    background-color: #376996;
    color: #fff;
    border: 2px solid #376996;
    cursor: pointer;
}

#scriptToggle {
    margin-left: 10px;
}